<div class="ets-act-swv">
	<%
	var data = data || {};
	if (data.references.aud) { %>
	<div class="ets-act-swv-side">
		<div class="ets-act-ap-wrap"><div data-at-id="btn-audio-start" class="ets-act-ap">
			<audio data-weave="school-ui-shared/widget/audio-player/main" preload="none"
			       data-src="<%=data.references.aud.url%>" type="audio/mpeg"
			       class="ets-ap"></audio>
		</div></div>
	</div>
	<%}%>
	<div class="ets-act-swv-main">
		<div class="ets-act-swv-list-wrap">
		    <ul class="ets-act-swv-list">
		    <%
		        var items = data.content.sequences;
		        for (var i = 0; i < items.length; i++) {
		            writeItem(items[i]);
		        }
		    %>
		    </ul>
	    </div>
	    <div class="ets-act-swv-label">
			<div class="ets-arrow">
				<div class="ets-bd"></div>
			</div>
			<div class="ets-label">
				<div class="ets-hd"><%=data.content.labels.top%></div>
				<div class="ets-ft"><%=data.content.labels.bottom%></div>
			</div>
		</div>
	</div>
</div>

<% function writeItem(data) { 
	if (data.isLock) {
		data.lockClass = "ets-correct ets-locked";
	} else {
		data.lockClass = ""
	}
%>
				<li id="<%= data._id%>" data-at-id="<%= data._id%>" class="ets-act-swv-item <%= data.lockClass%>" data-position="<%= data.position%>">
					<div class="ets-bd"><%= data.item%></div>
				</li>
<% } %>
