/* ///////////////////////////////////////////////////////////////////////////////////////
//
//  Description:   This is a common notification for school table user.
//
////////////////////////////////////////////////////////////////////////////////////// */
.com-tablet-download {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url(../img/com-tablet-page.jpg) center center no-repeat #ffffff;
  background-size: cover;
  z-index: 20000;
}
.com-tablet-download .com-tablet-cover {
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 20px;
  right: 40px;
  margin-left: 100px;
  padding: 40px;
}
.com-tablet-download .com-tablet-links {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  font-family: "HelveticaNeue-CondensedBold", 'HelveticaNeueLTPro BdCn', 'HelveticaNeueLTPro', Arail;
}
.com-tablet-download .com-tablet-available {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}
.com-tablet-download .com-tablet-app-store {
  display: inline-block;
  width: 126px;
  height: 36px;
  background: url(../img/com-app-store.png) no-repeat;
  background-size: contain;
}
.com-tablet-download .com-tablet-google-play {
  display: inline-block;
  width: 126px;
  height: 36px;
  background: url(../img/com-google-play.png) no-repeat;
  background-size: contain;
}
.com-tablet-download .com-tablet-point {
  margin: 20px 0px;
}
.com-tablet-download .com-tablet-circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #222;
  color: #fff;
  font-size: 24px;
  border-radius: 50px;
  margin-right: 10px;
  vertical-align: middle;
  margin: 10px 0px;
  font-family: "HelveticaNeue-CondensedBold", 'HelveticaNeueLTPro BdCn', 'HelveticaNeueLTPro', Arail;
}
.com-tablet-download .com-tablet-circle.com-tablet-circle-s {
  font-size: 16px;
}
.com-tablet-download .com-tablet-circle.com-tablet-circle-s .com-tablet-s {
  font-size: 12px;
}
.com-tablet-download .com-tablet-disc {
  display: inline-block;
  width: 230px;
  margin-left: 10px;
  vertical-align: middle;
}
.com-tablet-download .com-tablet-disc .com-tablet-disc-title {
  display: inline-block;
  font-weight: bold;
}
.com-tablet-download .com-tablet-not-now {
  display: block;
  border: 1px solid #222;
  background: none;
  width: 100%;
  padding: 10px 0px;
  font-size: 12px;
  cursor: pointer;
}
.com-tablet-englishtown .com-tablet-logo {
  display: inline-block;
  width: 150px;
  height: 110px;
  background: url(../img/com-tablet-ef.png) center center no-repeat;
  vertical-align: top;
}
.com-tablet-englishtown .com-tablet-links {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}
.com-tablet-englishtown .com-tablet-available {
  display: block;
}
.com-tablet-englishlive .com-tablet-logo {
  height: 50px;
  margin-bottom: 20px;
  background: url(../img/englishlive_logo.svg) center center no-repeat;
  background-size: contain;
}
.com-tablet-englishlive .com-tablet-links {
  text-align: center;
}
.com-tablet-englishlive .com-tablet-available {
  margin-right: 16px;
}
.com-tablet-englishlive .com-tablet-available,
.com-tablet-englishlive .com-tablet-app-store,
.com-tablet-englishlive .com-tablet-google-play {
  vertical-align: middle;
}
