<%
    var bookUrl = data.bookUrl;
    var credit = data.credit;
%>
<div class="evc-studyplan-btn-book">
    <% if(credit.couponLeft <= 0){ %>
        <a class="btn btn-default disabled" role="button" data-weave="troopjs-ef/blurb/widget" data-blurb-id="568596"></a>
    <% }else{ %>
        <p data-weave="troopjs-ef/blurb/widget" data-blurb-id="568597"></p>
        <a href="<%= bookUrl %>" class="btn btn-primary" role="button" data-weave="troopjs-ef/blurb/widget" data-blurb-id="568596"></a>
    <% } %>
</div>
<style type="text/css">
    .evc-studyplan-btn-book{
    }
    .evc-studyplan-btn-book > a{
        display: inline-block;
    }
    .evc-studyplan-btn-book > p{
        font-size: 1.3em;
        font-weight: bold;
    }
</style>
